NODE_ENV="development"
PORT=3030
REDIS_HOST="172.17.0.3"
REDIS_PORT=30379
POSTGRES_HOST="172.17.0.3"
POSTGRES_PORT=30432
POSTGRES_USER="root"
POSTGRES_PASSWORD="rootpassword"
POSTGRES_DATABASE="shortener_url"